# Core Django
Django==6.0.3
asgiref==3.11.1
sqlparse==0.5.5

# Django REST Framework
djangorestframework==3.16.1

# JWT Authentication
djangorestframework-simplejwt==5.5.1
PyJWT==2.12.1
cryptography==41.0.4
cffi==1.17.1
pycparser==2.22

# CORS
django-cors-headers==4.9.0

# OTP / 2FA
django-otp==1.7.0

# Environment variables
python-dotenv==1.0.0

# QR Code generation
qrcode==8.2
pillow==12.1.1

# Production server
gunicorn==21.2.0
whitenoise==6.7.0

# Testing
pytest==9.0.2
pytest-django==4.12.0
